*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  

.container {
background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/banner-bg.svg");
height: 120vh;
width: 100vw;
background-repeat: no-repeat;
margin-bottom: 10px;
}

.navbar {
  display: flex;
  width: 100vw; 
  justify-content: space-between;
  padding:  10px;
}

.nav-logo {
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/logo.svg");
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  }

 .hamburger {
  display: flex;
  font-size: 35px;
color: white;

  }

  .nav-menu {
    display: none;
  }

  li { display: none;

  }


/*.containertwo {
  display: flex;
  justify-content: column;
}
*/

.intro {
  display: flex;
  color: white;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: space-evenly;
height: 100vh;
}

.text {
  padding: 40px;
font-weight: normal;
}

h1 {
  font-weight: normal;

}


.btn-start { 
 background: rgb(70,197,203);
background: linear-gradient(90deg, rgba(70,197,203,1) 47%, rgba(18,156,209,1) 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
 }

 .img-laptop { 
  display: flex;
  }

img { 
  height: 350px;
  width: 450px;
 }


.logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px;

}

.logo1 {
  height: 70px;
  width: 150px;
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/brand-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: grey;
} 

.logo2 {
  height: 70px;
  width: 150px;
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/brand-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: grey;
}

.logo3 {
  height: 70px;
  width: 150px;
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/brand-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: grey;
}

.logo4 {
  height: 70px;
  width: 150px;
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/brand-4.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: grey;
} 


.logo5 {
  height: 50px;
  width: 150px;
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/brand-5.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: grey;
}

.break  {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  margin: 20px;
}

hr {
   border: 2px solid #FE7B77;
   width: 40%;
   margin-bottom: 20px;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.box {
  width: 80%;
  height: 30vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 20px 20px 20px #FAFAFA;
  border-radius: 12px;
  padding-top: 15px;
}

.smlogo {
  height: 70px;
  width: 70px;
position: relative;
}

.shape-1 {
  height: 70px;
  width: 70px;
position: absolute;
}

.blue-shape { 
height: 50px;
  width: 50px;
position: absolute;}

.baloon{
  height: 50px;
  width: 50px;
  
 font-size: 30px;
 margin: 8%;
}

  .lni-baloon::before{
    position: relative;
  z-index: 1;
    font-size: 35px;
    color: white;
    margin: 8%;
  }


.description  {

text-align: center;
}

.box {
  width: 80%;
  height: 30vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 20px 20px 20px #FAFAFA;
  border-radius: 12px;
  padding-top: 15px;
}


.shape-2 {
  height: 70px;
  width: 70px;
position: absolute;
}

.red-shape { 
height: 50px;
  width: 50px;
position: absolute;}

 .lni-cog::before{
    position: relative;
  z-index: 2;
    font-size: 35px;
    color: white;
    margin: 8%;
  }

.smlogo {
  height: 70px;
  width: 70px;
position: relative;
}

.shape-2 {
  height: 70px;
  width: 70px;
position: absolute;
}

.dark-shape { 
height: 50px;
  width: 50px;
position: absolute;}

.lni-bolt-alt::before{
    position: relative;
  z-index: 2;
    font-size: 35px;
    color: white;
    margin: 8%;
  }

 .bootstrap-template {
  display: flex;
  flex-direction: column;
  margin: 10%;
  justify-content: space-evenly;
height: 100vh;
 } 

.image-right {
  height: 100%;
  width: 100%;
  display: flex;
}

.btn-try
{
  background: rgb(253,128,110);
background: linear-gradient(90deg, rgba(253,128,110,1) 34%, rgba(253,112,147,1) 65%); 
  border: none;
  color: white;
  width: 25%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  display: flex;
}

.facts {
  display: flex;
  flex-direction: column;
  margin: 10%; 
  /*justify-content: space-between;*/
  height: 100vh;
}

.video {
  position: absolute;
  z-index: 1;
  left: 20px;
  box-shadow: 20px 20px 20px #F3F3F3;

}

.video-two {
  position: relative;
  top: 30px;
  right: 50px;
 
}

.shapes {
  display: flex;
  flex-direction: row;
  width: 100vw; 
  justify-content: space-evenly;
}

.ovalshape {
  display: flex;
      height: 100px;
      width: 115px;
      background: rgb(70,197,203);
background: linear-gradient(99deg, rgba(70,197,203,1) 47%, rgba(18,156,209,1) 100%);
      border-bottom-right-radius: 30%;
      border-top-left-radius: 30%;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
      transform: skewY(340deg);
    }

    .ovalshape-two {
  display: flex;
      height: 100px;
      width: 115px;
      background: rgb(253,125,112);
background: linear-gradient(99deg, rgba(253,125,112,1) 47%, rgba(253,111,151,1) 100%);
      border-bottom-right-radius: 30%;
      border-top-left-radius: 30%;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
      transform: skewY(340deg);
    }

  .ovalshape-three {
  display: flex;
      height: 100px;
      width: 115px;
      background: rgb(55,43,200);
background: linear-gradient(99deg, rgba(55,43,200,1) 27%, rgba(46,128,236,1) 65%);
      border-bottom-right-radius: 30%;
      border-top-left-radius: 30%;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
      transform: skewY(340deg);

    }

.shape {
  color: white;
  font-size: 20px;
  text-align: center;
padding-top: 20px;
}

.team {
  padding: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center ;
}

.clean-two  {
  text-align: center;
}

.members {
  display: flex;
  flex-direction: column;

}

.box-two {

   width: 100%;
  height: 100vh;
  /*align-items: center;*/
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  box-shadow: 20px 20px 20px #FAFAFA;
  border-radius: 12px;
  padding-top: 15px;
  text-align: center;

}



.moreira {
  height: 450px;
width: 400px;
position: relative;
}


.oval {
      width: 200px;
      height: 100px;
      opacity: 0.5;
      border-radius: 50px / 50px;
    position: absolute;
margin-top: 350px;
margin-left: 80px;
z-index: 1;
background-color: white;

    }

.box-four {
  display: flex;
  flex-direction: column;
height: 50vh;
width: 90%;
justify-content: space-between;
border-color: #fc718e;
border-width: 1px;
box-shadow: 20px 20px 20px #FAFAFA;
border-radius: 12px;
border-style: groove;
}


.quote {
  display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 18px}

.star {
  display: flex;
}

.lni-quotation::before
{
  color: #fc718e;
  font-size: 20px;
  font-weight: 600;
}

.lni-star-filled::before {
 color: #fc718e;
  font-size: 20px;
  font-weight: 600;

}

.author {
  display: flex;
  flex-direction: row;
}
.shape {
height: 70px;
  width: 70px;
/*position: absolute;*/
}

.author {
height: 50px;
  width: 50px;
/*position: absolute; */
 }

.circles  {
  display: flex;
  flex-direction: row;
justify-content: center;
}

 .circle {
  display: flex;
    background: #fc718e;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.facts-two {
display: flex;
  flex-direction: column;
  margin: 10%; 
  /*justify-content: space-between;*/
  height: 20vh;
} 

.blogposts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.learn { 
  color: #fc718e;
  height: 100vh;
width: 100vw;
 }

.footer { 
background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/footer-bg.svg");
height: 100vh;
 }

 .box-footer 
 { 
    display: flex;
  flex-direction: column;
height: 20vh;
width: 100%;
justify-content: space-between;
border-color: #fc718e;
border-width: 1px;
box-shadow: 20px 20px 20px #FAFAFA;
border-radius: 12px;
border-style: groove;

  }


.input {
  width: 100%;
}

.btn-top {
  background: rgb(253,128,110);
background: linear-gradient(90deg, rgba(253,128,110,1) 34%, rgba(253,112,147,1) 65%); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;

}

} 

/* Set the background color of body to tan */

/*body {
  background-color: tan;
}



{
.navbar
{
  display: none;*/
 /* justify-content: space-between;
  align-items: center;*/
/*  padding: 1% 10% 0 10%;
  width: 100vw; 
}*/





/*.nav-logo {
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/logo.svg");
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  }

.nav-menu {
display: none; *//*flex;
list-style: none;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
 /* row-gap: 10px;
  column-gap: 20px;*/

/*}

.item {
  display: none;
}

.btn-top {*/
 /*background: rgb(253,128,110);
background: linear-gradient(90deg, rgba(253,128,110,1) 34%, rgba(253,112,147,1) 65%); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;*/
}


}


/*
.container {
  display: flex;
  background-image: url(file:///Users/user/Becode2022/guenther-wireframe-01/images/banner-bg.svg);
height: 100vh;
width: 100vw;
}
*/






/*.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10% 0 10%;
  width: 100vw; 
}

.nav-logo {
  background-image: url("file:///Users/user/Becode2022/guenther-wireframe-01/images/logo.svg");
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  }*/

/*.nav-menu {
display: flex;
list-style: none;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  /*row-gap: 10px;
  column-gap: 20px;*/

}
/*
.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-top {
 background: rgb(253,128,110);
background: linear-gradient(90deg, rgba(253,128,110,1) 34%, rgba(253,112,147,1) 65%); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}


.hamburger {
    display: none;
}*/


